<div class="row">
  <div class="col-12">
    <section class="widget">
      <header>
        <legend>
          <strong>Camera List
            <span>{{deviceCountInfo}}</span>
          </strong>
        </legend>
        <div class="float-right">
          <i *ngIf="flag.busy" class="fa fa-refresh fa-spin fa-fw" style="font-size: 15px;"></i>          
          <button class="btn btn-secondary width-100 mb-xs" role="button" (click)="searchWindow.show()" [disabled]="flag.busy">
            Search
          </button>
          <button *ngIf="cameraConfigs && cameraConfigs.length > 0" class="btn btn-secondary width-100 mb-xs" role="button" (click)="cloneWindow.show()" [disabled]="flag.busy">
            Clone
          </button>
          <button class="btn btn-secondary width-100 mb-xs" role="button" (click)="addDevice()" [disabled]="flag.busy">
            Create
          </button>
          <button class="btn btn-secondary width-100 mb-xs" role="button" (click)="deleteAll()" [disabled]="!anyChecked || flag.busy">
            Delete
          </button>
        </div>
      </header>
      <div class="widget-body" *ngIf="!cameraConfigs">
          
          <div class="text-center" >
            <i class="fa fa-refresh fa-spin fa-fw" style="font-size: 30px;"></i>
          </div>
      </div>
      <div class="widget-body" *ngIf="cameraConfigs">     
        <pagination-controls (pageChange)="changePage($event)" *ngIf="total>pageSize"></pagination-controls>
        Page Size: <select (change)="optionChange($event.target.value)" [(ngModel)]="pageSize">
          <option *ngFor="let option of options" [ngValue]="option">{{option}}</option>
        </select>  
        Total: {{total}}, Available License: {{availableLicense}}
        <div style="width:100%;max-height:500px;overflow-y: scroll;">
        <table class="table table-hover table-lg mt-lg mb-0">
          <thead>
            <tr>
              <th style="width:20px"><input type="checkbox" id="selectAll" (click)="selectAll($event.target.checked)"  [checked]="checkedAll" [disabled]="flag.busy"/></th>
              <th>ID</th>
              <th>Brand</th>
              <th>Model</th>
              <th>Name</th>
              <th>Network Address</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let cam of cameraConfigs | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: total }" (click)="currentEditCamera = cam.device" [class.active]="cam.device === currentEditCamera">
              <td><input type="checkbox" (click)="selectCam(cam, $event.target.checked)" [checked]="cam.checked" [disabled]="flag.busy"></td>
              <td>{{cam.device.Channel}}</td>
              <td>{{cam.brandDisplay}}</td>
              <td>{{cam.device.Config.Model}}</td>
              <td>{{cam.device.Name}}</td>
              <td><span *ngIf="cam.device.Config.IPAddress !== ''">{{cam.device.Config.IPAddress}}:{{cam.device.Config.Http}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls (pageChange)="changePage($event)" *ngIf="total>pageSize"></pagination-controls>
      </div>
      
    </section>
  </div>
  <div class="col-12">
    <app-camera-editor *ngIf="currentEditCamera" [flag]="flag" [ipCameraNvr]="ipCameraNvr" [groupList]="groupList" [currentCamera]="currentEditCamera" (reloadDataEvent)="reloadData()"></app-camera-editor>
  </div>
</div>
<div bsModal #searchWindow="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <button (click)="searchWindow.hide()" aria-label="Close" class="close ml-auto" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title text-center fw-bold">Search Device</h4>
      </div>
      <div class="modal-body" style="max-height: 500px;overflow-x: hidden;overflow-y: auto;">
        <app-camera-search [availableLicense]="availableLicense" [flag]="flag" [groupList]="groupList" [ipCameraNvr]="ipCameraNvr" #searchComponent (reloadDataEvent)="reloadData()" (closeModal)="searchWindow.hide();"></app-camera-search>
      </div>
      <div class="modal-footer">
        <button class="btn btn-gray" type="button" (click)="searchComponent.saveAll()" [disabled]="searchComponent && (!searchComponent.anyChecked || flag.busy===true)">
          Save 
        </button>
        <button type="button" class="btn btn-gray" (click)="searchWindow.hide();">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<div bsModal #cloneWindow="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <button (click)="cloneWindow.hide()" aria-label="Close" class="close ml-auto" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title text-center fw-bold">Clone Device</h4>
      </div>
      <div class="modal-body" style="max-height: 500px;overflow-x: hidden;overflow-y: auto;">
        <div class="form-group row">
          <label class="col-md-4  col-form-label text-md-right">Device</label>
          <div class="col-md-8">
            <select class="select1" (change)="setCloneDevice($event)">
              <option *ngFor="let item of cameraConfigs;" value= {{item.device.id}}>{{item.device.Channel}} {{item.device.Name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4  col-form-label text-md-right">Quantity</label>
          <div class="col-md-8">
            <div class="input-group">
              <input type="number" class="form-control" [(ngModel)]="cloneCameraParam.quantity" max="{{availableLicense}}" min="0">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-primary" (click)="clickClone();" [disabled]="flag.busy">Clone</button>
        <button type="button" class="btn btn-gray" (click)="cloneWindow.hide();">Close</button>
      </div>
    </div>
  </div>
</div>
