<ng-container *ngIf="serverInfo && storage">
  <div class="form-group row">
    <label class="col-md-4  col-form-label text-md-right">Server Name</label>
    <div class="col-md-8">
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="serverInfo.Name">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-4  col-form-label text-md-right">Server Domain</label>
    <div class="col-md-8">
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="serverInfo.Domain">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-4  col-form-label text-md-right">Server Port</label>
    <div class="col-md-8">
      <div class="input-group">
        <input type="number" class="form-control" [(ngModel)]="serverInfo.Port">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-4  col-form-label text-md-right">Max Capacity</label>
    <div class="col-md-8">
      <div class="input-group">
        <input type="number" class="form-control" [(ngModel)]="serverInfo.MaxCapacity">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-4  col-form-label text-md-right">Keep Days</label>
    <div class="col-md-8" style="padding-top: 4px;">
      <input id="display-device-id" type="checkbox" [checked]="serverInfo.KeepDays.Enable" (change)="serverInfo.KeepDays.Enable = !serverInfo.KeepDays.Enable">
      <label for="display-device-id">Enable</label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-4  col-form-label text-md-right">Keep Days Default</label>
    <div class="col-md-8">
      <div class="input-group">
        <input type="number" class="form-control" [(ngModel)]="serverInfo.KeepDays.Default">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-4  col-form-label text-md-right">Storage Name</label>
    <div class="col-md-8">
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="storage.Name">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-4  col-form-label text-md-right">Storage Keep Space</label>
    <div class="col-md-8">
      <div class="input-group">
        <input type="number" class="form-control" [(ngModel)]="storage.KeepSpace">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-4  col-form-label text-md-right">Storage Path</label>
    <div class="col-md-8">
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="storage.Path" disabled>
      </div>
    </div>
  </div>
  <div class="editor-footer" *ngIf="!flag.load">
    <button type="button" class="btn btn-danger" (click)="clickDelete()">
      <i *ngIf="flag.delete" class="fa fa-refresh fa-spin fa-fw" style="font-size: 15px;"></i>
      Delete
    </button>
    <button type="button" class="btn btn-primary" (click)="clickSave()">
      <i *ngIf="flag.save" class="fa fa-refresh fa-spin fa-fw" style="font-size: 15px;"></i>
      Save
    </button>
    <button type="button" class="btn btn-gray" (click)="clickClose()">Close</button>
  </div>
  <div class="editor-footer" *ngIf="flag.load">
    <div class="text-center">
      <i class="fa fa-refresh fa-spin fa-fw" style="font-size: 30px;"></i>
    </div>
  </div>
</ng-container>
