<div class="row">
  <div class="col-12">
    <section class="widget">
      <header>
        <legend>
          <strong>Added NVR</strong>
        </legend>
        <!-- <div class="row">
          <div class="col-lg-3">
            <div>
              <h4>iSap</h4>
              <h1 class="text-center">{{licenseCount.device}} / {{licenseService.licenseLimit['00166']}}</h1>
            </div>
          </div>
          <div class="col-lg-3">
            <div>
              <h4>3rd NVR</h4>
              <h1 class="text-center">{{licenseCount.thirdNvr}} / {{licenseService.licenseLimit['00167']}}</h1>
            </div>
          </div>
        </div> -->
        <div class="float-right">
          <button class="btn btn-secondary width-100 mb-xs" role="button" (click)="modalWindow.show()">
            Search
          </button>
          <button class="btn btn-secondary width-100 mb-xs" role="button" (click)="addNVR()">
            Create
          </button>
          <button class="btn btn-secondary width-100 mb-xs" role="button" (click)="deleteAll()" [disabled]="!anyChecked">
              Delete
            </button>
        </div>
      </header>
      <div class="widget-body">
          <pagination-controls id="mainNvrList" (pageChange)="pageChange($event)" *ngIf="paging.total>paging.pageSize"></pagination-controls>
          Page Size: <select (change)="optionChange($event.target.value)" [(ngModel)]="paging.pageSize">
              <option *ngFor="let option of paging.options" [ngValue]="option">{{option}}</option>
            </select>  
            Total: {{paging.total}}
        <table class="table table-hover table-lg mt-lg mb-0">
          <thead>
            <tr>
              <th style="width:20px"><input type="checkbox" id="selectAll" (click)="selectAll($event.target.checked)"  [checked]="checkedAll" [disabled]="flag.busy"/></th>
              <th>ID</th>
              <th>Name</th>
              <th>Domain</th>
              <th>Event</th>
              <th>Patrol</th>
              <th>Port</th>
              <th>Devices Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let nvr of nvrList | paginate: { id: 'mainNvrList', itemsPerPage: paging.pageSize, currentPage: paging.page, totalItems:paging.total }" (click)="clickEditNVR(nvr.device)" [class.active]="nvr.device == currentEditNVR">
              <td><input *ngIf="nvr.device.Id!=='1' && nvr.device.Id!=='2'" type="checkbox" (click)="selectNvr(nvr, $event.target.checked)" [checked]="nvr.checked" [disabled]="flag.busy"></td>
              <td>{{nvr.device.Id}}</td>
              <td>{{nvr.device.Name}}</td>
              <td>{{nvr.device.Domain}}</td>
              <td>{{nvr.device.IsListenEvent}}</td>
              <td>{{nvr.device.IsPatrolInclude}}</td>
              <td>{{nvr.device.Port}}</td>
              <td>{{nvr.quantity}}</td>
            </tr>
          </tbody>
        </table>
        <pagination-controls 
          id="mainNvrList"
          (pageChange)="pageChange($event)" *ngIf="paging.total>paging.pageSize"></pagination-controls>
      </div>
    </section>
  </div>
  <div class="col-12">
   
     <app-nvr-editor *ngIf="currentEditNVR" [pageSize]="paging.pageSize" [flag]="flag" [iSapP2PServerList]="iSapP2PServerList" [groupList]="groupList" #editor [editNvr]="currentEditNVR" (reloadDataEvent)="reloadData()"></app-nvr-editor>
   
  </div>
</div>

<!--
<ng-template #editorModal>
  <div class="modal-header flex-column">
    <button (click)="modalRef?.hide()" aria-label="Close" class="close ml-auto" type="button">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title text-center fw-bold">
      <span *ngIf="currentEditorMode === 1">Add NVR</span>
      <span *ngIf="currentEditorMode === 2">Edit NVR</span>
    </h4>
  </div>
  <div class="modal-body">
    
  </div>
</ng-template>
-->
<div bsModal #modalWindow="bs-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <button (click)="modalWindow.hide()" aria-label="Close" class="close ml-auto" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title text-center fw-bold">Search NVR</h4>
      </div>
      <div class="modal-body" style="max-height: 500px;overflow-x: hidden;overflow-y: auto;">
        <app-nvr-search [flag]="flag" [groupList]="groupList" #searchComponent (reloadDataEvent)="reloadData()" (closeModal)="modalWindow.hide();"></app-nvr-search>
      </div>
      <div class="modal-footer">
          <button class="btn btn-gray" type="button" (click)="searchComponent.saveAll()" [disabled]="searchComponent && (!searchComponent.anyChecked || searchComponent.flag.busy===true)">
              Save 
            </button>
        <button type="button" class="btn btn-gray" (click)="modalWindow.hide();">Close</button>
      </div>
    </div>
  </div>
</div>
