<div class="row">
  <div class="col-lg-6">
    <section class="widget">
      <header>
        <h6>
          <span class="fw-semi-bold">Added NVR</span>
        </h6>        
      </header>
      <div class="widget-body no-padding">
        <div id="accordion" role="tablist" aria-multiselectable="true" *ngIf="selectorNvrList && selectorNvrList.length>0">
          <div class="card" *ngFor="let nvr of selectorNvrList | paginate: { id: 'nvrList', itemsPerPage: pageSize, currentPage: p, totalItems:total }">
            <div class="card-header" role="tab" (click)="nvr.isCollapsed = !nvr.isCollapsed">
              <span class="text-primary" style="margin-right: 24px;">{{nvr.Data.Id}}</span>
              <span class="text-primary">{{nvr.Data.Name}}</span>
              <span class="text-info">&nbsp;-&nbsp;{{nvr.Data.Manufacture}}</span>
              <span class="text-mute">&nbsp;&nbsp;&nbsp;{{nvr.Data.Domain || 'localhost'}}:{{nvr.Data.Port}}</span>
              <i class="fa fa-angle-down float-right" style="font-size: 1.5rem;" *ngIf="nvr.isCollapsed"></i>
              <i class="fa fa-angle-up float-right" style="font-size: 1.5rem;" *ngIf="!nvr.isCollapsed"></i>
            </div>
            <div class="collapse" [class.show]="!nvr.isCollapsed" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <table class="table table-hover table-lg mb-0">
                  <tbody *ngIf="nvr.Devices && nvr.Devices.length > 0">
                    <tr *ngFor="let device of nvr.Devices | paginate: { id: 'nvr'+nvr.Data.Id, itemsPerPage: pageSize, currentPage: nvr.page, totalItems:nvr.total }" (click)="clickDevice(device)" [class.active]="currentEventHandler && currentEventHandler === device.EventHandler">
                      <td width="5%">{{device.Data.Channel}}</td>
                      <td width="45%">{{device.Data.Name}}</td>
                      <td width="50%">{{getEventHandlingTypes(device)}}</td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="!nvr.Devices || nvr.Devices.length === 0">
                    <tr>
                      <td width="100%">No Device Available.</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <pagination-controls 
                  id="{{'nvr'+nvr.Data.Id}}"
                  (pageChange)="cameraPageChange(nvr, $event)" 
                  *ngIf="nvr.Devices && nvr.Devices.length > 0 && nvr.total > pageSize">
                </pagination-controls>

            </div>
          </div>
          <pagination-controls (pageChange)="pageChange($event)" id="nvrList" *ngIf="total>pageSize"></pagination-controls>
        </div>
      </div>
    </section>

  </div>
  <div class="col-lg-6">
    <app-event-type-list *ngIf="currentDevice" [currentDevice]="currentDevice" [currentEventHandler]="currentEventHandler" (reloadCallback)="fetchNvrAndDevice()"></app-event-type-list>
  </div>
</div> 
