<div class="row">
  <div class="col-lg-3" *ngIf="!flag.load">
    <section class="widget">
      <header>
        <h6>
          <span class="fw-semi-bold">Record Schedule Template</span>
        </h6>
        <div class="widget-controls">
          <span placement="top" tooltip="Create Template" (click)="templateSetupMode = 1;createNewTemplate();modalWindow.show();">
            <i class="fa fa-plus text-default"></i>
          </span>
        </div>
      </header>
      <div class="widget-body no-padding">
        <div class="list-group list-group-lg">
          <a class="list-group-item" *ngFor="let tp of recordScheduleTemplates">
            <span class="thumb-sm mr" (click)="clickScheduleTemplate(tp, 1, true); modalWindow.show();">
              <i class="fa fa-pencil-square-o text-success" placement="top" tooltip="Edit"></i>
            </span>
            <i class="fa fa-angle-right flex-last ml-auto"></i>
            <div (click)="clickScheduleTemplate(tp, 1, false)">
              <h6 class="no-margin text-primary">{{tp.Name}}</h6>
              <small class="text-muted">Keep Days: {{tp.KeepDays}}</small>
            </div>
          </a>
        </div>
      </div>
    </section>
    <section class="widget">
      <header>
        <h6>
          <span class="fw-semi-bold">Event Handling</span>
        </h6>
        <div class="widget-controls">
          <span placement="top" tooltip="Create Template" (click)="templateSetupMode = 2;createNewTemplate();modalWindow.show();">
            <i class="fa fa-plus text-default"></i>
          </span>
        </div>
      </header>
      <div class="widget-body no-padding">
        <div class="list-group list-group-lg">
          <a class="list-group-item" *ngFor="let tp of eventScheduleTemplates">
            <span class="thumb-sm mr" (click)="clickScheduleTemplate(tp, 2, true); modalWindow.show();">
              <i class="fa fa-pencil-square-o text-success" placement="top" tooltip="Edit"></i>
            </span>
            <i class="fa fa-angle-right flex-last ml-auto"></i>
            <div (click)="clickScheduleTemplate(tp, 2, false)">
              <h6 class="no-margin text-primary">{{tp.Name}}</h6>
            </div>
          </a>
        </div>
      </div>
    </section>
  </div>
  <div class="col-lg-3" *ngIf="flag.load">
    <div class="text-center">
      <i class="fa fa-refresh fa-spin fa-fw" style="font-size: 30px;"></i>
    </div>
  </div>
  <div class="col-lg-9">
    <app-template-setup [setupMode]="templateSetupMode" [currentTemplate]="currentTemplate"></app-template-setup>
  </div>
</div>

<div bsModal #modalWindow="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="currentEditTemplate">
      <div class="modal-header flex-column">
        <button (click)="modalWindow.hide()" aria-label="Close" class="close ml-auto" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title text-center fw-bold">
          <span *ngIf="!currentEditTemplate.id">Create </span>
          <span *ngIf="currentEditTemplate.id">Edit </span>
          Template
        </h4>
      </div>
      <div class="modal-body">
        <app-schedule-template-editor [setupMode]="templateSetupMode" [currentTemplate]="currentEditTemplate" (updateTemplateEvent)="reloadTemplateConfig()"
          (modalHide)="modalWindow.hide()"></app-schedule-template-editor>
      </div>
    </div>
  </div>
</div>
