<legend>FTP Server</legend>
<div class="form-group row">
  <label class="col-md-4  col-form-label text-md-right">Server</label>
  <div class="col-md-8">
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="ftp.Server">
    </div>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-4  col-form-label text-md-right">Remote Directory</label>
  <div class="col-md-8">
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="ftp.Directory">
    </div>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-4  col-form-label text-md-right">Port</label>
  <div class="col-md-8">
    <div class="input-group width-100">
      <input type="text" class="form-control" [(ngModel)]="ftp.Port">
    </div>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-4  col-form-label text-md-right">Account</label>
  <div class="col-md-8">
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="ftp.Account">
    </div>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-4  col-form-label text-md-right">Password</label>
  <div class="col-md-8">
    <div class="input-group">
      <input type="password" class="form-control" [(ngModel)]="ftp.Password">
    </div>
  </div>
</div>
