
   <div class="row">        
                          
        <div class="col-12">
          <section class="widget">
            <header>                
              <legend>
                <form #form >
                    <input type="file" [disabled]="flag.busy" (change)="onFileSelect($event.target)" name="myfile"> 
                </form>
                <strong>Total Valid NVR: {{totalValidNvr}}</strong>
              </legend>                            
            </header>
            <div class="widget-body" *ngIf="nvrList">               
              <table class="table table-hover table-lg mt-lg mb-0">
                <thead>
                  <tr>             
                    <th style="width:20px"><input type="checkbox" id="selectAll" (click)="selectAll($event.target.checked)"  [checked]="checkedAll" [disabled]="flag.busy"/></th>
                    <th>Status</th>
                    <th>Name</th>
                    <th>Domain</th>
                    <th>Port</th>
                    <th>Import Result</th>
                    <th>Sync Result</th>
                    <th>Device Synced</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of nvrList | paginate: { id: 'mainNvrList', itemsPerPage: 20, currentPage: p}">
                    <td><input type="checkbox" (click)="selectNvr(item, $event.target.checked)" [checked]="item.checked" [disabled]="flag.busy || item.error.length>0 || item.nvrObjectId"></td>
                    <td [ngStyle]="{'background-color':item.error.length == 0 ? '#8FBC8F' : '#FFFF64'}">{{item.error.length>0?item.error.join(', '):'valid'}}</td>
                    <td>{{item.nvr.Name}}</td>
                    <td>{{item.nvr.Domain}}</td>
                    <td>{{item.nvr.Port}}</td>                    
                    <td>{{item.nvrObjectId ? "success" : ""}}</td>
                    <td>{{item.syncResult}}</td>  
                    <td>{{item.deviceSynced}}</td>  
                  </tr>
                </tbody>
              </table>
              <pagination-controls 
                id="mainNvrList"
                (pageChange)="p=$event" *ngIf="nvrList.length>20"></pagination-controls>
            </div>
          </section>
        </div>
        
      </div>
      