<div class="col-12">
  <section class="widget">
    <div class="widget-body">
      <div #Server *ngIf="serverConfig">
        <legend>
          <strong>Server</strong>
        </legend>
        <div class="form-group row">
          <label class="col-md-4  col-form-label text-md-right">Temporarily Store </label>
          <div class="col-md-8">
            <app-disk-space [storageConfig]="serverConfig.Storage" [mediaDiskspace]="mediaDiskspace" (setStorageEvent)="setStorage($event)"></app-disk-space>
          </div>
        </div>
      </div>
      <div #DBSync *ngIf="dbSync" style="display:none;">
        <legend>
          <strong>Database Backup</strong>
        </legend>
        <div class="form-group row">
          <label class="col-md-4  col-form-label text-md-right">Auto Sync</label>
          <div class="col-md-8" style="padding-top: 4px;">
            <button class="btn btn-secondary width-100 mb-xs pull-right" (click)="createDBSyncDestination()">
              <span>Create</span>
            </button>
            <input id="dbSync_autoSync" type="checkbox" [checked]="dbSync.autoSync" (change)="dbSync.autoSync = !dbSync.autoSync">
            <label for="dbSync_autoSync">Enable</label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4  col-form-label text-md-right">Destination</label>
          <div class="col-md-8">
            <table class="table table-bordered table-lg mb-lg">
              <thead>
                <tr>
                  <th>IP</th>
                  <th>Port</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dbSync.destination" style="line-height: 35px;">
                  <td>
                    <input type="text" class="form-control" placeholder="IP Address" [(ngModel)]="item.ip">
                  </td>
                  <td>
                    <input type="number" class="form-control" placeholder="Port" [(ngModel)]="item.port">
                  </td>
                  <td class="text-center">
                    <i class="fa fa-times btn-remove" aria-hidden="true" (click)="removeDBSyncDestination(item)"></i>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
    <div class="widget-footer">
      <div class="form-group row">
        <label class="col-md-4  col-form-label text-md-right"></label>
        <div class="col-md-4">
          <button class="btn btn-primary width-100 mb-xs" role="button" (click)="clickSaveConfig()">
            <i *ngIf="flag.save" class="fa fa-refresh fa-spin fa-fw" style="font-size: 15px;"></i>
            Save
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
