<legend>Mail Server</legend>
<div class="form-group row">
  <label class="col-md-4  col-form-label text-md-right">Sender</label>
  <div class="col-md-8">
    <div class="input-group">
      <input type="text" class="form-control" id="dropdown-appended" [(ngModel)]="mail.Sender">
      <div class="input-group-btn" dropdown>
        <button class="btn btn-default dropdown-toggle" dropdownToggle>
          <i class="fa fa-angle-down"></i>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li *ngFor="let item of senderOptions">
            <a class="dropdown-item" (click)="mail.Sender = item; getUserEmail(item)">{{item}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-4  col-form-label text-md-right">Email Address</label>
  <div class="col-md-8">
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="mail.MailAddress">
    </div>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-4  col-form-label text-md-right">Server</label>
  <div class="col-md-8">
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="mail.Server">
    </div>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-4  col-form-label text-md-right">Security</label>
  <div class="col-md-8">
    <select class="select1 width-100" [(ngModel)]="mail.Security">
      <option *ngFor="let item of mailServerSecurityOptions;" value= {{item}}>{{item}}</option>
    </select>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-4  col-form-label text-md-right">Port</label>
  <div class="col-md-8">
    <div class="input-group width-100">
      <input type="text" class="form-control" [(ngModel)]="mail.Port">
    </div>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-4  col-form-label text-md-right">Account</label>
  <div class="col-md-8">
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="mail.Account">
    </div>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-4  col-form-label text-md-right">Password</label>
  <div class="col-md-8">
    <div class="input-group">
      <input type="password" class="form-control" [(ngModel)]="mail.Password">
    </div>
  </div>
</div>
