<ng-container *ngIf="currentConfig">
  <div class="form-group row" *ngFor="let page of currentConfig.Page">
    <div class="col-md-4">
      <div class="page-name fw-semi-bold">
        {{page.Name}}
      </div>
    </div>
    <div class="col-md-8">
      <ng-container *ngFor="let p of page.Permission">
      <div class="page-permission" *ngIf="p!='I/OEvent'"> 
        {{p == 'Event' ? 'Event Handler' : p=='Event/LogOption'?'Event Recovery':p }}      
      </div>
    </ng-container>
    </div>
  </div>
</ng-container>
