<div class="row">
  <div class="col-lg-6">
    <section class="widget">
      <header>
        <h6>
          <span class="fw-semi-bold">Added NVR</span>
        </h6>
      </header>
      <div class="widget-body no-padding">
        <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="card" *ngFor="let nvr of nvrConfigs">
            <div class="card-header" [class.active]="selectedNvrId === nvr.id" role="tab" (click)="selectNvrEvent(nvr)">
              <span class="text-primary" style="margin-right: 24px;">{{nvr.Id}}</span>
              <span class="text-primary">{{nvr.Name}}</span>
              <span class="text-info">&nbsp;-&nbsp;{{nvr.Manufacture}}</span>
              <span class="text-mute">&nbsp;&nbsp;&nbsp;{{nvr.Domain || 'localhost'}}:{{nvr.Port}}</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <app-nvr-selector (selectNvrEvent)="selectNvrEvent($event)"></app-nvr-selector> -->
  </div>
  <div class="col-lg-6">
    <app-event-type-list [currentNVR]="currentNVR" [currentEventHandler]="currentEventHandler" (reloadCallback)="fetchNvr()"></app-event-type-list>
  </div>
</div>
