.table-hover tr {
    cursor: pointer;
}
.table-hover tr td {
    border-top: 0px;
}
.table-hover tr.active {
    /* border: 1px solid #f2bd37; */
    background: rgba(242,189,55,0.2);
    font-weight: bold;
}
.widget-controls-icon {
    color: rgba(0,0,0,0.4);
    cursor: pointer;
}
.card-header {
    border-bottom: 0px;
    cursor: pointer;
    padding: 15px 20px;
    background: #FFF
}
.card-header:hover{
    background: #eee;
}
.card-header.active {
    background: rgba(242,189,55,0.2);
}