<div class="form-group row">
  <div class="col-md-9">
    <select class="select1" (change)="setVendor($event)">
      <option *ngFor="let item of deviceVendors;" value= {{item}}>{{item}}</option>
    </select>
  </div>
  <div class="col-md-3">
    <button type="button" class="btn btn-default" (click)="clickSearch()" [disabled]="flag.load">
      <i *ngIf="flag.load" class="fa fa-refresh fa-spin fa-fw" style="font-size: 15px;"></i>
      Search
    </button>
  </div>
</div>
<table class="table table-hover table-lg mb-0" *ngIf="searchList">
  <tbody *ngIf="searchList.length > 0">
    <tr *ngFor="let cam of searchList" (click)="clickAddCamera(cam)">
      <td width="45%" class="text-primary">{{cam.PRODUCTIONID}}</td>
      <td width="55%">{{cam.WANIP}}:{{cam.HTTPPORT}}</td>
    </tr>
  </tbody>
  <tbody *ngIf="searchList.length === 0">
    <tr>
      <td width="100%">No Camera available.</td>
    </tr>
  </tbody>
</table>
