<div class="form-group row">
  <div class="col-md-9">        
      <ng-container *ngFor="let item of deviceVendors;">
      <div class="device-vendor" *ngIf="item.Key!='Customization'">        
          <input [disabled]="flag.busy" type="checkbox" (change)="setVendors($event.target.checked, item.Key)" id="{{item.Key}}"/>
          <label for="{{item.Key}}">{{item.Name}}</label>
      </div>
    </ng-container>
  </div>
  <div class="col-md-3">
    <button type="button" class="btn btn-default" (click)="clickSearch()" [disabled]="flag.busy">
      <i *ngIf="flag.busy" class="fa fa-refresh fa-spin fa-fw" style="font-size: 15px;"></i>
      Search
    </button>
  </div>
</div>
<table class="table table-hover table-lg mb-0" *ngIf="searchList">
  <thead>
    <tr>
      <th style="width:20px"><input type="checkbox" id="selectAll" (click)="selectAll($event.target.checked)" [disabled]="flag.busy" [checked]="checkedAll"/></th>
      <th style="width:20%">Product Id</th>
      <th style="width:20%">Manufacturer</th>
      <th>Address</th>      
    </tr>
  </thead>
  <tbody *ngIf="searchList.length > 0">  
    <ng-container *ngFor="let cam of searchList">
      <tr *ngIf="cam.saved !== true">
        <td><input type="checkbox" (click)="selectCam(cam, $event.target.checked)" [checked]="cam.checked" [disabled]="flag.busy"></td>
        <td class="text-primary">{{cam.searchResult.PRODUCTIONID}}</td>
        <td>{{getCompaneName(cam.searchResult.COMPANY)}}</td>
        <td>{{cam.searchResult.WANIP}}:{{cam.searchResult.HTTPPORT}}</td>      
      </tr>
    </ng-container>    
    <tr>
        <td colspan="4">Camera found: {{searchList.length}}</td>
    </tr>
  </tbody>
  <tbody *ngIf="searchList.length === 0">
    <tr>
      <td colspan="4">No Camera available.</td>
    </tr>
  </tbody>
</table>
